@tailwind base;
@tailwind components;
@tailwind utilities;

.smart-x-padding {
  @apply sm:px-8 md:px-16 lg:px-32 xl:px-64 2xl:px-96;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
